**
!core/
!core/**
!rule_based_v1/
!rule_based_v1/**
!gcp_deploy/
!gcp_deploy/**
!ml_intraday_v3/
!ml_intraday_v3/__init__.py
!ml_intraday_v3/**
ml_intraday_v3/backtest_results/**
ml_intraday_v3/experiments/**
ml_intraday_v3/research papers/**
ml_intraday_v3/runs/**
!.gcloudignore
